body {
	font-family: 'Arimo', sans-serif;
	background: url(..Images/galaxy.jpg) no-repeat; 
}

#Header {
	text-align: center;
	font-size: 3.5vw;
	margin-top: -30px;
	letter-spacing: 2px;
}

#Header a {
	color:#bad4ff;
	text-decoration: none;
	font-weight: bold;
}

#MainContent {
	text-align: center;
	margin: auto;
}

div button {
}










/***************** Large Devices only ******************/
@media (min-width: 1200px) {

}

/***************** Medium Devices only *****************/
@media (min-width: 992px) and (max-width: 1199px) {

}

/***************** Small devices only *******************/
@media (min-width: 768px) and (max-width: 991px) {

}

/***************** Extra Small Devices only **************/
@media (max-width: 767px) {
	#Header {
	font-size: 6vw;
}

}

/****************** Super Extra Small Devices iPhone 4 and 5 ***************/

@media (max-width: 479px) {

}
