body {
	font-family: 'Arimo', sans-serif;
	background: url(https://github.com/weazelteles85/WeazelSoftwares/blob/master/Images/galaxy.jpg?raw=true) no-repeat;
}

.Header {
	text-align: center;
	letter-spacing: 2px;
}

.Header h1 {
	font-family: 'Arimo', sans-serif;
	font-size: 4em;
}

.Header a {
	color:#bad4ff;
	text-decoration: none;
	font-weight: bold;
}

.Header ul {
	color:#bad4ff;
}

.MainContent {
	text-align: center;
	margin: auto;
}

button:hover {
	cursor: pointer;
}

#LogScreen {
	visibility: hidden;
}

#LogScreen p {
	font-family: "Arial Black";
	font-weight: bolder;
	color: red; 
	margin-top: -5px;
	margin-bottom: 0px;
	text-align: right;
	font-size: 2em;
	float: right;
}

#LogScreen p:hover {
	cursor: pointer;
}

#LogScreen button {
	margin: 10px;
}

#LogScreen input {
	font-size: 1.5em;
	width: 25%;
}

#LogScreen {
	position: relative;
	margin: auto;
	margin-top: -200px;
	border-style: solid;
	border-width: 2px;
	padding: 10px;
	background-color: #999FFE;
	width: 50%;
}

#logError {
	text-align: center;
	font-size: 24px;
	color: red;
	visibility: hidden;
}

button p {
	font-weight: bold;
	padding: 5px;
	margin: auto;
	font-size: 2em;
}










/***************** Large Devices only ******************/
@media (min-width: 1200px) {

}

/***************** Medium Devices only *****************/
@media (min-width: 992px) and (max-width: 1199px) {

}

/***************** Small devices only *******************/
@media (min-width: 768px) and (max-width: 991px) {

}

/***************** Extra Small Devices only **************/
@media (max-width: 767px) {
	#Header {
	font-size: 6vw;
}

}

/****************** Super Extra Small Devices iPhone 4 and 5 ***************/

@media (max-width: 479px) {

}
